{
  "openapi": "3.0.3",
  "info": {
    "title": "YCLIENTS REST API",
    "description": "Это официальный документ, описывающий взаимодействие с сервисом онлайн-бронирования YCLIENTS.\n\nПри проектировании методов, мы старались придерживаться архитектуры [REST](https://ru.wikipedia.org/wiki/REST)\n\nВсе обращения к протоколу осуществляются с использованием SSL-шифрования.\n\n**Лимиты**\n200 запросов в минуту, или 5 запросов в секунду на один IP-адрес.\n\n**URL API:**\nhttps://api.yclients.com\n\n_Вопросы, пожелания, сообщения об ошибках можно направлять по адресу support@yclients.com_\n\nAPI позволяет сторонним разработчикам выполнять\nбольшинство операций с платформой YCLIENTS.\n\n**Внимание! Большинство обращений в техническую поддержку связаны\nс тем, что разработчики не читают документацию.\nОбязательно прочтите раздел INTRODUCTION полностью и внимательно ознакомьтесь с информацией\nна других ресурсах, на которые мы ссылаемся. Для тестирования запросов мы рекомендуем использовать сервис [Postman](https://www.getpostman.com/),\nпри обращении в службу поддержки используйте скриншоты из Postman.**\n\n## SDK\n\nНиже приведены ссылки на SDK сторонних разработчиков. В ближайшее время мы планируем подключиться к их улучшению и развитию. И всегда привествуем Opensource инициативы, если у вас есть возможности и желание развивать одну из предложенных библиотек это принесет общую пользу. Если решите создать свою - сообщите нам о ней, мы примем участие в развитии и разместим ссылку на нее здесь.\n\n**PHP:**\nhttps://github.com/SlowProg/yclients-api\n\n## Кейсы интеграции с YCLIENTS\n\n1. Обмен данными с программой для автоматизации и учета.\n\n2. Интеграция онлайн-записи со стронними сайтами и мобильными приложениями (каталоги компаний, приложения компаний и т.п.)\n\n## Общее описание обмена данными с YCLIENTS\n\nAPI для интеграции с YCLEINTS содержит две группы методов:\n1. _Методы требующие авторизацию пользователя и авторизацию партнера_\n2. _Методы не требующие авторизации пользователя, но требующие авторизацию партнера_\n\n### Авторизация запросов API\n\nДля обращений и к первой и ко второй группе методов\nтребуется *авторизация партнера*. Т.е. передача\nуникального hash-ключа партнера.\n\nАвторизация запросов к API производится в соответствии с [RFC 6749 \"Resource Owner Password Credentials Grant\"](https://tools.ietf.org/html/rfc6749#section-4.3).\nПри запросах к API в HTTP заголовок Authorization должен быть включен ключ доступа в следущем формате:\n\n```\nAuthorization: Bearer <partner token>\n```\n\nДля того, чтобы получить этот ключ нужно [зарегистрироваться в маркетплейсе интеграций](https://yclients.com/appstore/developers), а потом скопировать API-ключ в разделе «Настройки аккаунта».\n\nДля получения API-ключа пользователя используйте метод **auth**. Передавать сам ключ нужно также в заголовке запроса (после ключа партнера через запятую):\n\n```\nAuthorization: Bearer <partner token>, User <user token>\n```\n\nНужна ли авторизация пользователя для работы с теми или иными сущностями нужно смотреть в описаниях формата данных и примерах запросов.\n\n### Версионирование API\n\nТекущая версия формата ответа 2.0, в нем всегда присутствуют секции \"success\", \"data\", \"meta\".\n\nУказать версию необходимо с помощью заголовка\n\n```\nAccept: application/vnd.yclients.v2+json\n```\n\n### Дата и время\n\nВсе даты в API представлены в виде строк в формате ISO 8601:\n\n```\n\"2014-09-21T23:00:00.000+03:00\"\n```\n\nДлительности услуг и других сущностей передаются в **секундах**. Например, если услуга длиться 15 минут, то формат данных следующий:\n\n```\n{ \"length\": 900 }\n```\n\n## Концепты YCLIENTS API\n\nAPI позволяет работать с основными сущностями платформы:\n\n* **Компания**\n\n* **Пользователь**\n    Пользователи могут управлять компаниями,\n    они имеют права доступа к определенным настройкам компании.\n    Не все пользователи имеют доступ ко всем настройкам.\n    Для того, чтобы изменять те или иные настройки нужно сначала\n    получить API-ключ пользователя с соответсвующими правами.\n\n* **Категория услуг**\n    Все услуги компании группируются в рамках категории услуг .\n\n* **Услуга**\n    Как правило, запись производится на определенную услугу,\n    которую оказывает определенный сотрудник в определенной компании.\n    Услуга имеет диапазон стоимости и некоторые другие параметры.\n\n* **Сотрудник**\n    Как правило, запись производится, к определенному сотруднику\n    или _ресурсу_ (например, подъемник или квест-комната).\n\n* **Расписание сотрудника**\n    У каждого сотрудника есть график работы - итервалы времени, в которое\n    сотрудник работает с клиентами.\n\n* **Свободное время сотрудника**\n    Время на которое можно записаться\n    к сотруднику, т.е. интервалы времени, в которые он свободен.\n\n* **Запись**\n    Интервал времени, в которое конкретный сотрудник оказывает\n    конкретному клиенту услуги. Во время записи сотрудник занят.\n\n* **Клиент**\n    Человек, который записывался на услугу в компанию.\n\n### Модель данных YCLIENTS API\n\nДля работы с данными используется четыре основных структуры:\n\n1. **Сущность**\n    Одна из перечисленных выше сущностей,\n    обладающая своими уникальными свойствами и параметрами.\n    Сущности можно получать, изменять и удалять\n\n2. **Коллекция сущностей**\n    Набор сущностей. Например, список компаний\n    или список услуг, оказываемых компаний.\n    В коллекции сущностей можно *добавлять*\n    сущности.\n\n3. **Связь сущностей**\n    Например, связь сотрудника и услуги\n    определяет, что конкретный сотрудник\n    оказывает конкретную услугу.\n    У связи могут быть свои свойства,\n    например, индивидуальная цена услуги\n    для конкретного сотрудника\n\n4. **Коллекция связей сущностей**\n    Например, список услуг, оказываемых\n    сотрудником и их свойсва. В коллекции\n    можно *добавлять связи*",
    "version": ""
  },
  "servers": [
    {
      "url": "https://api.yclients.com"
    }
  ],
  "tags": [
    {
      "name": "Авторизация",
      "description": "Для вызова многих методов требуется получить API-ключ пользователя, который будет использоваться для доступа к закрытым данным."
    },
    {
      "name": "Онлайн-запись",
      "description": "Для реализации клиентской части онлайн-записи используется следующий набор методов. Они адаптированы для пользовательских сценариев онлайн-записи, в отличии от других REST-методов, которые лучше использовать для интеграциионных целей."
    },
    {
      "name": "Записи пользователя",
      "description": "Для управлениями записями пользователя используются следующие методы"
    },
    {
      "name": "Пользователи онлайн-записи",
      "description": "Пользователи клиентской части онлайн-записи."
    },
    {
      "name": "Компании",
      "description": "Для работы с компаниями используются следующие методы\n\n### Коллекция компаний\nОбъект компании имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  |  number  |  Идентификатор компании  |\n|  title  | string  |  Название компании (Обязательное поле для создания компании) |\n|  logo  | string  |  Адрес изображения логотипа компании  |\n|  short_descr  | string  |  Категория компании  |\n|  country_id  | number  |  Идентификатор страны, в которой расположена компания  |\n|  country  | string  |  Название старны компании  |\n|  city_id  | number  |  Идентификатор города, в котором расположена компания)  |\n|  city  | string  |  Название города компании  |\n|  timezone  | string  |  Timezone компании  |\n|  schedule  | string  |  Расписание работы компании  |\n|  address  | string  |  Адрес, по которому расположена компания  |\n|  phone  | string  | Номер телефона компании  |\n|  coordinate_lat  | float  |  Широта, на которой расположена компания  |\n|  coordinate_lon  | float  |  Долгота  |\n|  app_ios  | string  |  Ссылка на приложение под ios  |\n|  app_android  | string  |  Ссылка на приложение под android  |\n|  phone_confirmation  | boolean  | Нужно ли подтверждать телефон по смс  |\n|  active_staff_count  | number  | Кол-во сотрудников доступных для бронирования  |\n|  next_slot  | datetime  | Дата и время ближайшего свободного сеанса в компании(ISO8601). Поле будет присутствовать только если передан GET параметр forBooking=1\n|  booking_comment_required  | boolean | Является ли поле с комментарием к записи обязательным для заполнения\n|  booking_email_required  | boolean | Является ли поле Email к записи обязательным для заполнения\n|  booking_comment_input_name  | string (optional)  | Заголовок для поля с вводом комментария к записи (если не задано, то используется значение по умолчанию)\n|  booking_notify_text  | string (optional)  | Текст уведомления, которое выводится (если задано) на шаге ввода контактных данных\n|  reminds_sms_disabled  | boolean  | True - если у компании выключен сервис SMS напоминаний клиентам.\n|  group_priority  | number  | Чем больше приоритет, тем выше компания при выводе в списке филиалов сети\n|  allow_change_record  | boolean  | Изменение записи  |\n|  allow_change_record_delay_step  | number  | Запретить изменять записи за период. (В секундах)\n|  allow_delete_record  | boolean  | Удаление записи  |\n|  allow_delete_record_delay_step  | number  | Запретить удалять записи за период. (В секундах)\n"
    },
    {
      "name": "Категория услуг",
      "description": "Для работы с категориями услуг используются следующие методы\n\nОбъект категории услуг имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  |  number  |  Идентификатор категории  |\n|  title  | string  |  Название категории  |\n|  api_id  | Integer  |  Внешний идентификатор категории  |\n|  weight  | number  |  Вес категории (используется для сортировки категорий при отображении)  |\n|  staff  | array  |  Список ID сотрудников, оказывающих услугу |\n\n#### Фильтрация категорий услуг\n\n+ staff_id: ID сотрудника. Если нужны услуги, которые оказывает конкретный мастер"
    },
    {
      "name": "Услуги",
      "description": "Для работы с услугами используются следующие методы\n\nОбъект услуги имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  |  number  |  Идентификатор услуги  |\n|  category_id  |  number  |  Идентификатор категории, в которой состоит услуга  |\n|  title  | string  |  Название категории  |\n|  price_min  | number  |  Минимальная цена на услугу  |\n|  price_max  | number  |  Максимальная цена на услугу |\n| duration  | number  |  Длительность услуги, по умолчанию равна 3600 секундам |\n|  service_type  | number  |  1 - доступна для онлайн записи, 0 - не доступна |\n|  comment  | string  |  комментарий у услуге |\n|  api_service_id  | Integer  |  Внешний идентификатор услуги  |\n|  weight  | number  |  Вес категории (используется для сортировки категорий при отображении)  |\n|  staff  | array  |  Список сотрудников, оказывающих услугу и длительность сеанса |\n|  image_group | object | Группа изображений услуги |\n\nМассив со списком сотрудников, оказывающих услугу состоит из объектов со следующими полями\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  |  number  |  Идентификатор сотрудника  |\n|  seance_length  |  number  |  Длительность оказания услуги мастером. (В секундах)  |\n\n#### Фильтрация услуг\n\n+ staff_id: ID сотрудника. Если нужны услуги, которые оказывает конкретный мастер\n\n+ category_id: ID категории. Если нужны услуги, из конкретной категории"
    },
    {
      "name": "Пользователи",
      "description": "Управление пользователями, в частности работа с ролями и правами.\n"
    },
    {
      "name": "Пользователь",
      "description": "Описание разделов прав доступа:\r\n\r\n| Значение | Описание |\r\n| ------------- | ------------- |\r\n| 'settings' |    Список прав относящиеся к группе настройки |\r\n| 'finances' |    Список прав относящиеся к группе финансы |\r\n| 'loyalty' |    Список прав относящиеся к группе лояльность |\r\n| 'notification' |    Список прав относящиеся к группе уведомления |\r\n| 'storages' |    Список прав относящиеся к группе склады |\r\n| 'clients' |    Список прав относящиеся к группе клиенты |\r\n| 'dashboard' |    Список прав относящиеся к группе журнал записей |\r\n\r\n\r\nВ списке прав содержатся следующие поля:\r\n\r\n| Поле  | Тип | Описание |\r\n| ------------- | ------------- | ------------- |\r\n| timetable_access                                                   | boolean |    true - есть доступ к журналу записи, false - нет доступа                                                                                                          |\r\n| master_id                                                          | number  |    0 - если пользователь может просматривать расписание и записи всех сотрудников, иначе только того сотрудника, ID которого задан                                   |\r\n| position_id                                                        | number  |    0 - если пользователь может просматривать расписание и записи всех сотрудников, иначе только ту должность, ID которого задан                                      |\r\n| last_days_count                                                    | number  |    0 - не ограничить доступ к истории расписаний и записям                                                                                                           |\r\n| schedule_edit_access                                               | boolean |    true - есть доступ к графику работы сотрудника в журнале, false - нет доступа                                                                                     |\r\n| timetable_phones_access                                            | boolean |    true - есть доступ к номеру телефона в журнале записи, false - нет доступа                                                                                        |\r\n| timetable_transferring_record_access                               | boolean |    true - есть доступ к переносу записей, false - нет доступа                                                                                                        |\r\n| timetable_statistics_access                                        | boolean |    true - есть доступ к просмотру статистики, false - нет доступа                                                                                                    |\r\n| record_form_access                                                 | boolean |    true - есть доступ к окну записи, false - нет доступа                                                                                                             |\r\n| record_form_client_access                                          | boolean |    true - есть доступ к данным клиентов, false - нет доступа                                                                                                         |\r\n| records_autocomplete_access                                        | boolean |    true - есть доступ к выпадающему списку с данными о клиентах, false - нет доступа                                                                                 |\r\n| create_records_access                                              | boolean |    true - есть доступ к созданию записей, false - нет доступа              Создавать записи                                                                          |\r\n| edit_records_access                                                | boolean |    true - есть доступ к изменение записей, false - нет доступа                                                                                                       |\r\n| edit_records_attendance_access                                     | boolean |    true - есть доступ к записям со статусом визита \"клиент пришел\", false - нет доступа                                                                              |\r\n| records_services_cost_access                                       | boolean |    true - есть доступ к изменению стоимости услуг, false - нет доступа                                                                                               |\r\n| records_services_discount_access                                   | boolean |    true - есть доступ к изменению скидки на услуги, false - нет доступа                                                                                              |\r\n| record_edit_full_paid_access                                       | boolean |    true - есть доступ к редактированию оплаченной записи, false - нет доступа                                                                                        |\r\n| delete_records_access                                              | boolean |    true - есть доступ к удалению записи, false - нет доступа                                                                                                         |\r\n| delete_customer_came_records_access                                | boolean |    true - есть доступ к удалению записей со статусом \"клиент пришел\", false - нет доступа                                                                            |\r\n| delete_paid_records_access                                         | boolean |    true - есть доступ к удалению оплаченных записей, false - нет доступа                                                                                             |\r\n| records_goods_access                                               | boolean |    true - есть доступ к продажам товаров, false - нет доступа                                                                                                        |\r\n| records_goods_create_transaction_access                            | boolean |    true - есть доступ к созданию товарных транзакций, false - нет доступа                                                                                            |\r\n| records_goods_create_last_days_count                               | number  |    -1 - есть доступ к созданию товарных транзакций за все время, >= 0 - доступ к созданию товарных транзакций за указанное количество дней прошлое                   |\r\n| records_goods_edit_transaction_access                              | boolean |    true - есть доступ к редактированию товарных транзакций, false - нет доступа                                                                                      |\r\n| records_goods_edit_last_days_count                                 | number  |    -1 - есть доступ к редактированию товарных транзакций за все время, >= 0 - доступ к редактированию товарных транзакций за указанное количество дней прошлое     |\r\n| records_goods_cost_access                                          | boolean |    true - есть доступ к изменению стоимость товаров, false - нет доступа                                                                                             |\r\n| records_goods_discount_access                                      | boolean |    true - есть доступ к изменению скидки на товары, false - нет доступа                                                                                              |\r\n| records_finances_access                                            | boolean |    true - есть доступ к оплате, false - нет доступа                                                                                                                  |\r\n| records_finances_last_days_count                                   | number  |    -1 - есть доступ к проведению оплаты в записях за все время, >= 0 - доступ к проведению оплаты в записях за указанное количество дней прошлое                     |\r\n| records_finances_pay_from_deposits_access                          | boolean |    true - есть доступ к проведению оплаты в записях с личного счета клиента, false - нет доступа                                                                     |\r\n| records_group_id_access                                            | boolean |    true - есть доступ к данным клиентов по сети, false - нет доступа                                                                                                 |\r\n| records_group_id                                                   | number  |    ID сети к которой есть доступ к данным клиентов                                                                                                                   |\r\n| finances_access                                                    | boolean |    true - есть доступ к финансам, false - нет доступа                                                                                                                |\r\n| finances_accounts_ids                                              | array   |    массив ID к выбранным кассам                                                                                                                                      |\r\n| finances_transactions_access                                       | boolean |    true - есть доступ к просмотру движений средств, false - нет доступа                                                                                              |\r\n| finances_last_days_count                                           | number  |    -1 - есть доступ к просмотру движений средств за все время, >= 0 - доступ к просмотру движений средств за указанное количество дней прошлое                       |\r\n| finances_create_transactions_access                                | boolean |    true - есть доступ к созданию транзакций, false - нет доступа                                                                                                     |\r\n| finances_create_last_days_count                                    | number  |    -1 - есть доступ к созданию транзакций за все время, >= 0 - доступ к созданию транзакций за указанное количество дней прошлое                                     |\r\n| finances_edit_transactions_access                                  | boolean |    true - есть доступ к редактированию транзакций, false - нет доступа                                                                                               |\r\n| finances_edit_last_days_count                                      | number  |    -1 - есть доступ к редактированию транзакций за все время, >= 0 - доступ к редактированию транзакций за указанное количество дней прошлое                         |\r\n| finances_delete_transactions_access                                | boolean |    true - есть доступ к удалению транзакций, false - нет доступа                                                                                                     |\r\n| finances_transactions_excel_access                                 | boolean |    true - есть доступ к выгрузке движений средств в Excel, false - нет доступа                                                                                       |\r\n| finances_expenses_ids                                              | array   |    true - есть доступ к переводам между кассами, false - нет доступа                                                                                                 |\r\n| finances_accounts_access                                           | boolean |    true - есть доступ к счетам и кассам, false - нет доступа                                                                                                         |\r\n| finances_accounts_banalce_access                                   | boolean |    true - есть доступ к балансу, false - нет доступа                                                                                                                 |\r\n| finances_suppliers_read_access                                     | boolean |    true - есть доступ к контрагентам, false - нет доступа                                                                                                            |\r\n| finances_suppliers_create_access                                   | boolean |    true - есть доступ к созданию контрагентов, false - нет доступа                                                                                                   |\r\n| finances_suppliers_update_access                                   | boolean |    true - есть доступ к изменению контрагентов, false - нет доступа                                                                                                  |\r\n| finances_suppliers_delete_access                                   | boolean |    true - есть доступ к удалению контрагентов, false - нет доступа                                                                                                   |\r\n| finances_suppliers_excel_access                                    | boolean |    true - есть доступ к выгрузке в Excel, false - нет доступа                                                                                                        |\r\n| finances_expenses_read_access                                      | boolean |    true - есть доступ к статье платежей, false - нет доступа                                                                                                         |\r\n| expenses_read_access                                               | boolean |    true - есть доступ к статье платежей, false - нет доступа                                                                                                         |\r\n| finances_expenses_create_access                                    | boolean |    true - есть доступ к созданию статьи платежа, false - нет доступа                                                                                                 |\r\n| expenses_create_access                                             | boolean |    true - есть доступ к созданию статьи платежа, false - нет доступа                                                                                                 |\r\n| finances_expenses_update_access                                    | boolean |    true - есть доступ к изменению статьи платежа, false - нет доступа                                                                                                |\r\n| expenses_update_access                                             | boolean |    true - есть доступ к изменению статьи платежа, false - нет доступа                                                                                                |\r\n| finances_expenses_delete_access                                    | boolean |    true - есть доступ к удалению статьи платежа, false - нет доступа                                                                                                 |\r\n| expenses_delete_access                                             | boolean |    true - есть доступ к удалению статьи платежа, false - нет доступа                                                                                                 |\r\n| finances_kkm_transactions_access                                   | boolean |    true - есть доступ к операциям с KKM, false - нет доступа                                                                                                         |\r\n| kkm_transactions_accounts_access                                   | boolean |    true - есть доступ к операциям с KKM, false - нет доступа                                                                                                         |\r\n| finances_kkm_settings_read_access                                  | boolean |    true - есть доступ к настройкам KKM, false - нет доступа                                                                                                          |\r\n| kkm_settings_reed_access                                           | boolean |    true - есть доступ к настройкам KKM, false - нет доступа                                                                                                          |\r\n| finances_kkm_settings_update_access                                | boolean |    true - есть доступ к изменению KKM, false - нет доступа                                                                                                           |\r\n| kkm_settings_update_access                                         | boolean |    true - есть доступ к изменению KKM, false - нет доступа                                                                                                           |\r\n| finances_settings_invoicing_read_access                            | boolean |    true - есть доступ к онлайн-оплатам, false - нет доступа                                                                                                          |\r\n| finances_settings_invoicing_update_access                          | boolean |    true - есть доступ к изменению онлайн-оплат, false - нет доступа                                                                                                  |\r\n| settings_invoicing_update_access                                   | boolean |    true - есть доступ к изменению онлайн-оплат, false - нет доступа                                                                                                  |\r\n| finances_options_read_access                                       | boolean |    true - есть доступ к настройкам оплаты, false - нет доступа                                                                                                       |\r\n| finances_options_update_access                                     | boolean |    true - есть доступ к изменению настроек оплаты, false - нет доступа                                                                                               |\r\n| options_update_access                                              | boolean |    true - есть доступ к изменению настроек оплаты, false - нет доступа                                                                                               |\r\n| finances_salary_schemes_access                                     | boolean |    true - есть доступ к схемам расчета заработной платы, false - нет доступа                                                                                         |\r\n| finances_salary_calc_access                                        | boolean |    true - есть доступ к расчету заработной платы, false - нет доступа                                                                                                |\r\n| finances_salary_not_limitation_today_access                        | boolean |    true - есть доступ к расчету заработной платы, false - доступ к расчету заработной платы за текущий день                                                          |\r\n| finances_payroll_calculation_create_access                         | boolean |    true - есть доступ к начислению заработной платы, false - нет доступа                                                                                             |\r\n| finances_payroll_calculation_create_not_limitation_today_access    | boolean |    true - есть доступ к начислению заработной платы, false - доступ к начислению заработной платы за текущий день                                                    |\r\n| finances_salary_access_master_checkbox                             | boolean |    true - есть доступ к расчету заработной платы только конкретного сотрудника, false - полный доступ                                                                |\r\n| finances_salary_access_master_id                                   | number  |    ID сотрудника к которому есть доступ на расчет заработной платы                                                                                                   |\r\n| get_salary_access_master_id                                        | number  |    ID сотрудника к которому есть доступ на расчет заработной платы                                                                                                   |\r\n| finances_salary_master_not_limitation_today_access                 | boolean |    true - не ограничивать текущим днем, false - доступ только на сегодняшний день                                                                                    |\r\n| finances_payroll_calculation_create_by_master_access               | boolean |    true - есть доступ к начислению заработной платы по конкретному сотруднику, false - без ограничений                                                               |\r\n| calculation_create_by_master_not_limitation_today_access           | boolean |    true - есть доступ к начислению заработной платы, false - нет доступа                                                                                             |\r\n| finances_period_report_access                                      | boolean |    true - есть доступ к отчету за период, false - нет доступа                                                                                                        |\r\n| finances_period_report_excel_access                                | boolean |    true - есть доступ к выгрузке в Excel отчета за период, false - нет доступа                                                                                       |\r\n| finances_year_report_access                                        | boolean |    true - есть доступ к годовому отчету, false - нет доступа                                                                                                         |\r\n| finances_year_report_excel_access                                  | boolean |    true - есть доступ к выгрузке в Excel годового отчета, false - нет доступа                                                                                        |\r\n| finances_print_check_access                                        | boolean |    true - есть доступ к печати чека, false - нет доступа                                                                                                             |\r\n| finances_z_report_access                                           | boolean |    true - есть доступ к отчету по кассе за день, false - нет доступа                                                                                                 |\r\n| finances_z_report_no_limit_today_access                            | boolean |    true - есть доступ к отчету по кассе, false - доступ к отчету по кассе за текущий день                                                                            |\r\n| finances_z_report_excel_access                                     | boolean |    true - есть доступ к выгрузке в Excel, false - нет доступа\r\n| clients_access                                                     | boolean |    true - есть доступ к клиентской базе, false - нет доступа                                                                                                         |\r\n| clients_phones_email_access                                        | boolean |    true - есть доступ к номерам телефонов и email в списке клиентов, false - нет доступа                                                                                     |\r\n| client_phones_access                                               | boolean |    true - есть доступ к номерам телефонов в списке клиентов, false - нет доступа                                                                                     |\r\n| clients_card_phone_access                                          | boolean |    true - есть доступ к телефонам в карточке клиента, false - нет доступа                                                                                            |\r\n| clients_delete_access                                              | boolean |    true - есть доступ к удалению клиентов, false - нет доступа                                                                                                       |\r\n| clients_excel_access                                               | boolean |    true - есть доступ к выгрузке списка клиентов в Excel, false - нет доступа                                                                                       |\r\n| excel_access                                                       | number  |    1 - есть доступ к выгрузке списка клиентов в Excel, 0 - нет доступа                                                                                              |\r\n| client_comments_list_access                                        | boolean |    true - есть доступ к просмотру комментарии, false - нет доступа                                                                                                   |\r\n| client_comments_add_access                                         | boolean |    true - есть доступ к добавлению комментарии, false - нет доступа                                                                                                  |\r\n| client_comments_own_edit_access                                    | boolean |    true - есть доступ к изменению/удалению своих комментарии, false - нет доступа                                                                                    |\r\n| client_comments_other_edit_access                                  | boolean |    true - есть доступ к изменению/удалению чужих комментарии, false - нет доступа                                                                                    |\r\n| client_files_list_access                                           | boolean |    true - есть доступ к просмотрам и скачиванию файлов, false - нет доступа                                                                                           |\r\n| client_files_upload_access                                         | boolean |    true - есть доступ к загрузке файлов, false - нет доступа                                                                                                          |\r\n| client_files_delete_access                                         | boolean |    true - есть доступ к удалению файлов, false - нет доступа                                                                                                         |\r\n| clients_visit_master_id                                            | number  |    ID мастера по которому можно посмотреть клиентов посещавшие мастера, 0 - без ограничений                                                                          |\r\n| get_visit_master_id                                                | number  |    ID мастера по которому можно посмотреть клиентов посещавшие мастера, 0 - без ограничений                                                                          |\r\n| dashboard_access                                                   | boolean |    true - есть доступ к разделу обзор, false - нет доступа                                                                                                           |\r\n| dash_access                                                        | boolean |    true - есть доступ к разделу сводка, false - нет доступа                                                                                                          |\r\n| dash_phones_access                                                 | boolean |    true - есть доступ к показу номера телефонов в сводке, false - нет доступа                                                                                        |\r\n| dash_records_access                                                | boolean |    true - есть доступ к просмотру списка записей, false - нет доступа                                                                                                |\r\n| dash_records_last_days_count                                       | number  |    -1 - есть доступ к просмотру списка записей за все время, >= 0 - доступ к просмотру списка записей за указанное количество дней прошлое                           |\r\n| dash_records_excel_access                                          | boolean |    true - есть доступ к выгрузке списка записей в Excel, false - нет доступа                                                                                        |\r\n| dash_records_phones_access                                         | boolean |    true - есть доступ к показу номера телефонов в записях, false - нет доступа                                                                                       |\r\n| dash_message_access                                                | boolean |    true - есть доступ к просмотру детализаций сообщений, false - нет доступа                                                                                          |\r\n| dash_message_excel_access                                          | boolean |    true - есть доступ к выгрузке детализаций сообщений в Excel, false - нет доступа                                                                                  |\r\n| dash_message_phones_access                                         | boolean |    true - есть доступ к показу номера телефонов в сообщениях, false - нет доступа                                                                                    |\r\n| dash_reviews_access                                                | boolean |    true - есть доступ к просмотру отзывов, false - нет доступа                                                                                                       |\r\n| dash_reviews_delete_access                                         | boolean |    true - есть доступ к удалению отзывов, false - нет доступа                                                                                                        |\r\n| dashboard_calls_access                                             | boolean |    true - есть доступ к разделу звонки, false - нет доступа                                                                                                          |\r\n| dashboard_calls_excel_access                                       | boolean |    true - есть доступ к выгрузке звонков Excel, false - нет доступа                                                                                                  |\r\n| dashboard_calls_phones_access                                      | boolean |    true - есть доступ к просмотру номера телефона у клиентов, false - нет доступа                                                                                    |\r\n| notification                                                       | boolean |    true - есть доступ к Уведомления, false - нет доступа                                                                                                                |\r\n| web_push                                                           | boolean |    true - есть доступ к показу Push уведомлений о записях в Web-версии, false - нет доступа                                                                             |\r\n| web_phone_push                                                     | boolean |    true - есть доступ к показу Push уведомлений о звонках в Web-версии, false - нет доступа                                                                             |\r\n| notification_sms_ending_license                                    | boolean |    true - есть доступ к отправки SMS уведомлений о скором окончании лицензии, false - нет доступа                                                                       |\r\n| notification_sms_low_balance                                       | boolean |    true - есть доступ к отправки SMS уведомлений о низком балансе, false - нет доступа                                                                                  |\r\n| notification_email_ending_license                                  | boolean |    true - есть доступ к отправки Email уведомлений о скором окончании лицензии, false - нет доступа                                                                     |\r\n| loyalty_access                                                     | boolean |    true - есть доступ к лояльности, false - нет доступа                                                                                                                 |\r\n| has_loyalty_access                                                 | boolean |    true - есть доступ к лояльности, false - нет доступа                                                                                                                 |\r\n| loyalty_cards_manual_transactions_access                           | boolean |    true - есть доступ к ручному пополнению/списанию с карт лояльности, false - нет доступа                                                                            |\r\n| has_loyalty_cards_manual_transactions_access                       | boolean |    true - есть доступ к ручному пополнению/списанию с карт лояльности, false - нет доступа                                                                            |\r\n| loyalty_certificate_and_abonement_manual_transactions_access       | boolean |    true - есть доступ к оплате сертификатом и абонементом без кода, false - нет доступа                                                                                 |\r\n| storages_access                                                    | boolean |    true - есть доступ к складу, false - нет доступа                                                                                                                     |\r\n| storages_ids                                                       | boolean |    true - есть доступ к выбранным складам, false - нет доступа                                                                                                          |\r\n| storages_transactions_access                                       | boolean |    true - есть доступ к просмотру движений товаров, false - нет доступа                                                                                                 |\r\n| storages_last_days_count                                           | number  |    -1 - есть доступ к просмотру движений товаров за все время, >= 0 - доступ к просмотру движений товаров за указанное количество дней прошлое                          |\r\n| storages_move_goods_access                                         | boolean |    true - есть доступ к перемещение товаров между складами, false - нет доступа                                                                                         |\r\n| storages_create_transactions_access                                | boolean |    true - есть доступ к созданию товарных транзакций, false - нет доступа                                                                                               |\r\n| storages_create_last_days_count                                    | number  |    -1 - есть доступ к создание товарных транзакций за все время, >= 0 - доступ к создание товарных транзакций за указанное количество дней прошлое                      |\r\n| storages_create_transactions_buy_access                            | boolean |    true - есть доступ к оформлению прихода товаров, false - нет доступа                                                                                                 |\r\n| storages_create_transactions_sale_access                           | boolean |    true - есть доступ к оформлению продаж товаров, false - нет доступа                                                                                                  |\r\n| storages_edit_transactions_access                                  | boolean |    true - есть доступ к редактированию товарных транзакций, false - нет доступа                                                                                         |\r\n| storages_edit_last_days_count                                      | number  |    -1 - есть доступ к редактированию товарных транзакций за все время, >= 0 - доступ к редактированию товарных транзакций за указанное количество дней прошлое          |\r\n| storages_edit_transactions_buy_access                              | boolean |    true - есть доступ к оформлению прихода товаров, false - нет доступа                                                                                                 |\r\n| storages_edit_transactions_sale_access                             | boolean |    true - есть доступ к оформлению продаж товаров, false - нет доступа                                                                                                  |\r\n| storages_delete_transactions_access                                | boolean |    true - есть доступ к удалению товарных транзакций, false - нет доступа                                                                                               |\r\n| storages_transactions_excel_access                                 | boolean |    true - есть доступ к выгрузке движений товаров в Excel, false - нет доступа                                                                                          |\r\n| storages_transactions_types                                        | boolean |    true - есть доступ к выгрузке движений товаров в Excel, false - нет доступа                                                                                          |\r\n| storages_inventory_access                                          | boolean |    true - есть доступ к инвентаризации, false - нет доступа                                                                                                             |\r\n| storages_inventory_create_edit_access                              | boolean |    true - есть доступ к созданию и редактированию инвентаризации, false - нет доступа                                                                                   |\r\n| storages_inventory_delete_access                                   | boolean |    true - есть доступ к удалению инвентаризации, false - нет доступа                                                                                                    |\r\n| storages_inventory_excel_access                                    | boolean |    true - есть доступ к выгрузке инвентаризации в Excel, false - нет доступа                                                                                            |\r\n| storages_remnants_report_access                                    | boolean |    true - есть доступ к отчету остатков на складе, false - нет доступа                                                                                                  |\r\n| storages_remnants_report_excel_access                              | boolean |    true - есть доступ к выгрузке остатков в Excel, false - нет доступа                                                                                                  |\r\n| storages_sales_report_access                                       | boolean |    true - есть доступ к отчету по продажам, false - нет доступа                                                                                                         |\r\n| storages_sales_report_excel_access                                 | boolean |    true - есть доступ к выгрузке отчета по продажам в Excel, false - нет доступа                                                                                        |\r\n| storages_consumable_report_access                                  | boolean |    true - есть доступ к отчету по списанию расходников, false - нет доступа                                                                                             |\r\n| storages_consumable_report_excel_access                            | boolean |    true - есть доступ к выгрузке отчета по списанию расходников в Excel, false - нет доступа                                                                            |\r\n| storages_write_off_report_access                                   | boolean |    true - есть доступ к отчету по списанию товаров, false - нет доступа                                                                                                 |\r\n| storages_write_off_report_excel_access                             | boolean |    true - есть доступ к выгрузке отчета по списанию товаров в Excel, false - нет доступа                                                                                |\r\n| storages_turnover_report_access                                    | boolean |    true - есть доступ к отчету по оборачиваемости, false - нет доступа                                                                                                  |\r\n| storages_turnover_report_excel_access                              | boolean |    true - есть доступ к выгрузке отчета по оборачиваемости в Excel, false - нет доступа                                                                                 |\r\n| storages_goods_crud_access                                         | boolean |    true - есть доступ к управлению товарами, false - нет доступа                                                                                                        |\r\n| storages_goods_create_access                                       | boolean |    true - есть доступ к созданию товаров, false - нет доступа                                                                                                           |\r\n| storages_goods_update_access                                       | boolean |    true - есть доступ к изменению товаров, false - нет доступа                                                                                                          |\r\n| storages_goods_title_edit_access                                   | boolean |    true - есть доступ к названию, Артикул, Штрих-код, false - нет доступа                                                                                               |\r\n| storages_goods_category_edit_access                                | boolean |    true - есть доступ к категориям, false - нет доступа                                                                                                                 |\r\n| storages_goods_selling_price_edit_access                           | boolean |    true - есть доступ к ценам продажи, false - нет доступа                                                                                                              |\r\n| storages_goods_cost_price_edit_access                              | boolean |    true - есть доступ к себестоимости, false - нет доступа                                                                                                              |\r\n| storages_goods_units_edit_access                                   | boolean |    true - есть доступ к единицам измерения, false - нет доступа                                                                                                         |\r\n| storages_goods_critical_balance_edit_access                        | boolean |    true - есть доступ к критичным остаткам, Желаемый остаток, false - нет доступа                                                                                      |\r\n| storages_goods_masses_edit_access                                  | boolean |    true - есть доступ к массе, false - нет доступа                                                                                                                      |\r\n| storages_goods_comment_edit_access                                 | boolean |    true - есть доступ к комментариям, false - нет доступа                                                                                                               |\r\n| storages_goods_archive_access                                      | boolean |    true - есть доступ к архивации и восстановлению товаров, false - нет доступа                                                                                         |\r\n| storages_goods_delete_access                                       | boolean |    true - есть доступ к удалению товаров, false - нет доступа                                                                                                           |\r\n| settings_access                                                    | boolean |    true - есть доступ к разделу настройки, false - нет доступа                                                                                                          |\r\n| settings_basis_access                                              | boolean |    true - есть доступ к разделу Основные, false - нет доступа                                                                                                           |\r\n| settings_information_access                                        | boolean |    true - есть доступ к разделу Информация, false - нет доступа                                                                                                         |\r\n| users_access                                                       | boolean |    true - есть доступ к управлению пользователями, false - нет доступа                                                                                                  |\r\n| delete_users_access                                                | boolean |    true - есть доступ к удалению пользователей, false - нет доступа                                                                                                     |\r\n| create_users_access                                                | boolean |    true - есть доступ к добавлению пользователей, false - нет доступа                                                                                                   |\r\n| edit_users_access                                                  | boolean |    true - есть доступ к управлению правами пользователей, false - нет доступа                                                                                           |\r\n| limited_users_access                                               | boolean |    true - есть доступ к управлению правами в рамках своего набора прав, false - нет доступа                                                                             |\r\n| settings_services_access                                           | boolean |    true - есть доступ к разделу Услуги, false - нет доступа                                                                                                             |\r\n| settings_services_create_access                                    | boolean |    true - есть доступ к созданию услуг, false - нет доступа                                                                                                             |\r\n| services_edit                                                      | boolean |    true - есть доступ к редактированию услуг, false - нет доступа                                                                                                       |\r\n| settings_services_edit_title_access                                | boolean |    true - есть доступ к названиям услуг и название для онлайн-записи, false - нет доступа                                                                               |\r\n| settings_services_relation_category_access                         | boolean |    true - есть доступ к категориям услуги, false - нет доступа                                                                                                          |\r\n| settings_services_edit_price_access                                | boolean |    true - есть доступ к ценам услуг, false - нет доступа                                                                                                                |\r\n| settings_services_edit_image_access                                | boolean |    true - есть доступ к загрузкам и изменениям изображений, false - нет доступа                                                                                         |\r\n| settings_services_edit_online_seance_date_time_access              | boolean |    true - есть доступ к отображениям услуг в виджете, false - нет доступа                                                                                               |\r\n| settings_services_edit_online_pay_access                           | boolean |    true - есть доступ к онлайн-оплате услуги, false - нет доступа                                                                                                       |\r\n| settings_services_edit_services_related_resource_access            | boolean |    true - есть доступ к ресурсам услуги, false - нет доступа                                                                                                            |\r\n| settings_positions_read                                            | boolean |    true - есть доступ к разделу должности, false - нет доступа                                                                                                          |\r\n| settings_positions_create                                          | boolean |    true - есть доступ к созданию должностей, false - нет доступа                                                                                                        |\r\n| settings_positions_delete                                          | boolean |    true - есть доступ к удалению должностей, false - нет доступа                                                                                                        |\r\n| edit_master_service_and_duration                                   | boolean |    true - есть доступ к изменению услуги сотрудников и их длительность, false - нет доступа                                                                             |\r\n| tech_card_edit                                                     | boolean |    true - есть доступ к изменению технологической карты, false - нет доступа                                                                                              |\r\n| services_delete                                                    | boolean |    true - есть доступ к удалению услуг, false - нет доступа                                                                                                             |\r\n| settings_master_access                                             | boolean |    true - есть доступ к разделу Сотрудники, false - нет доступа                                                                                                         |\r\n| master_create                                                      | boolean |    true - есть доступ к созданию сотрудников, false - нет доступа                                                                                                       |\r\n| master_edit                                                        | boolean |    true - есть доступ к редактированию сотрудников, false - нет доступа                                                                                                 |\r\n| master_delete                                                      | boolean |    true - есть доступ к удалению сотрудников, false - нет доступа                                                                                                       |\r\n| settings_master_dismiss_access                                     | boolean |    true - есть доступ к увольнению сотрудников, false - нет доступа                                                                                                     |\r\n| schedule_edit                                                      | boolean |    true - есть доступ к редактированию графика работы, false - нет доступа                                                                                              |\r\n| settings_notifications_access                                      | boolean |    true - есть доступ к разделу Sms уведомления, false - нет доступа                                                                                                    |\r\n| settings_email_notifications_access                                | boolean |    true - есть доступ к разделу Email уведомления, false - нет доступа                                                                                                  |\r\n| settings_template_notifications_access                             | boolean |    true - есть доступ к разделу Типы уведомлений, false - нет доступа                                                                                                   |\r\n| webhook_read_access                                                | boolean |    true - есть доступ к изменению настроек WebHook, false - нет доступа                                                                                                 |\r\n| stat_access                                                        | boolean |    true - есть доступ к аналитике, false - нет доступа                                                                                                                  |\r\n| billing_access                                                     | boolean |    true - есть доступ к биллингу (раздел меню баланс), false - нет доступа                                                                                              |\r\n| send_sms                                                           | boolean |    true - есть доступ к SMS рассылки клиентам, false - нет доступа                                                                                                      |\r\n| auth_enable_check_ip                                               | boolean |    true - есть доступ к филиалу только с IP-адресов (v4, v6), false - нет доступа                                                                                       |\r\n| auth_list_allowed_ip                                               | array   |    список IP адресов\r\n\r\n\r\n+ Параметр\r\n    + company_id (required, number, `1`) - ID компани"
    },
    {
      "name": "Сотрудники",
      "description": "Для работы с сотрудниками используются следующие методы\n\nОбъект сотрудника имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  |  number  |  Идентификатор сотрудника  |\n|  api_id  |  string\\|null  |  Внешний идентификатор сотрудника  |\n|  name  | string  |  Имя сотрудника  |\n|  specialization  | string  |  Специализация сотрудника  |\n|  position  | object  |  Должность сотрудника  |\n|  weight  | number  |  Вес сотрудника. При выводе сотрудники сортируются по весу, сначала более тяжелые  |\n|  show_rating  | number  |  Показывать ли рейтинг сотрудника (1 - показывать, 0 - не показывать) |\n|  rating  | number  |  Ретинг сотрудника  |\n|  votes_count  | number  |  Кол-во голосов, оценивших сотрудника  |\n|  comments_count  | number  |  Кол-во комментариев к сотрунику  |\n|  avatar  | string  |  Путь к файлу аватарки сотрудника  |\n|  avatar_big  | string  |  Путь к файлу аватарки сотрудника в более высоком разрешении |\n|  information  | string  |  Дополнительная информация о сотруднике (HTML формат)  |\n|  hidden  | number  |  1 - скрыт от онлайн записей, 0 - не скрыт  |\n|  fired  | number  |  1 - уволен, 0 - не уволен  |\n|  status  | number  |  Статус удаления сотрудника, 1 - удален, 0 - не удален |\n|  image_group | object | Группа изображений сотрудника |"
    },
    {
      "name": "Должности",
      "description": "Описание методов для работы с должностями сотрудников"
    },
    {
      "name": "Клиенты",
      "description": "Для работы с клиентами\n\n## Коллекция клиентов\n\n+ Параметр\n    + company_id (required, number, `1`) - ID компании"
    },
    {
      "name": "Сетевые клиенты",
      "description": "Для работы с клиентами"
    },
    {
      "name": "Записи",
      "description": ""
    },
    {
      "name": "Визиты",
      "description": "<a name=\"visits\"></a>\n\nДля работы с визитами"
    },
    {
      "name": "Групповые события",
      "description": "Для управлениями групповыми событиями используются следующие методы"
    },
    {
      "name": "Групповые события v2",
      "description": "Новое окно групповых событий"
    },
    {
      "name": "Расписания записей/событий",
      "description": "С помощью расписания можно удобно настроить повторения индивидуальных записей (пока не поддерживается) или групповых событий.\nВ рамках расписания можно настроить несколько серий по одному конкретно взятому дню недели, и настроить параметры этих серий под определенные нужды.\nВ рамках разных серий расписания можно настроить разных сотрудников, оказывающих услуги, разные категории и ресурсы для этих сущностей и прочее.\n"
    },
    {
      "name": "Лист ожидания"
    },
    {
      "name": "График работы сотрудника",
      "description": "Для управления графиками работы сотрудников в филиале"
    },
    {
      "name": "Даты для журнала",
      "description": "Для выбора дат в журнале записи"
    },
    {
      "name": "Сеансы для журнала",
      "description": "Для выбора сеансов в журнале записи"
    },
    {
      "name": "Комментарии",
      "description": "Комментарии пользователей к компаниии и сотрудникам"
    },
    {
      "name": "Пользователи компании",
      "description": "Пользователи, имеющие доступ к управлению определенной компанией"
    },
    {
      "name": "Кассы",
      "description": "<a name=\"accounts\"></a>"
    },
    {
      "name": "Склады",
      "description": ""
    },
    {
      "name": "SMS рассылка",
      "description": ""
    },
    {
      "name": "Email рассылка",
      "description": ""
    },
    {
      "name": "ККМ транзакции",
      "description": "<a name=\"kkm-transactions\"></a>"
    },
    {
      "name": "Операция продажи",
      "description": "Объект операции продажи имеет следующую структуру:\n\n| Поле             | Тип              | Описание                 |\n| -----------------| ---------------- | ------------------------ |\n|  state           | [state](#sale-state-type)          | Состояние продажи        |\n|  kkm_state       | [kkm_state](#sale-kkm_state-type)  | Состояние ККМ            |\n|  payment_methods | [payment_method](#sale-payment_method-type)[] | Доступные методы оплаты  |\n\n<a name=\"sale-state-type\"></a>\nТип **state** имеет следующие поля:\n\n| Поле             | Тип             | Описание                 |\n| -----------------| --------------- | ------------------------ |\n|  items           | [sale_item](#sale-sale_item-type)[]     | Продаваемая единица      |\n|  loyalty_transactions | [loyalty_transaction](#loyalty-transactions)[] | Транзакция оплаты с помощью лояльности |\n|  payment_transactions | [payment_transaction](#payments-transactions)[] | Транзакция оплаты в кассу |\n\n<a name=\"sale-kkm_state-type\"></a>\nТип **kkm_state** имеет следующие поля:\n\n| Поле             | Тип             | Описание                 |\n| -----------------| --------------- | ------------------------ |\n|  last_operation_type | [integer](#kkm-transaction-types) | [Тип последней операции ККМ](#kkm-transaction-types)|\n|  transactions | [kkm_transaction](#kkm-transactions)[] | Транзакция ККМ |\n\n<a name=\"sale-payment_method-type\"></a>\nТип **payment_method** имеет следующие поля:\n\n| Поле             | Тип             | Описание                 |\n| -----------------| --------------- | ------------------------ |\n|  slug    | [slug](#sale-payment_method-slugs)(string) | Тип метода оплаты |\n|  is_applicable | boolean | Возможно ли применить данный метод |\n|  applicable_amount | float | Возможная сумма, приминимая к оплате  |\n|  applicable_count | int | Возможное количество посещений (в случае абонемента) |\n|  applicable_value | float | Применимый бонус (в случае программ лояльности) |\n|  account_id | integer(optional) | ID кассы (зависит от [slug](#sale-payment_method-slugs)) |\n|  deposit_id | integer(optional) | ID депозитного счета (зависит от [slug](#sale-payment_method-slugs)) |\n|  loyalty_card_id | integer(optional) | ID карты лояльности (зависит от [slug](#sale-payment_method-slugs)) |\n|  loyalty_program_id | integer(optional) | ID программы лояльности (зависит от [slug](#sale-payment_method-slugs)) |\n|  loyalty_certificate_id | integer(optional) | ID сертификата (зависит от [slug](#sale-payment_method-slugs)) |\n|  loyalty_abonement_id | integer(optional) | ID абонемента (зависит от [slug](#sale-payment_method-slugs)) |\n|  account | [account](#accounts)(optional) | Связанная сущность (зависит от [slug](#sale-payment_method-slugs)) |\n|  deposit | object(optional) | Связанная сущность (зависит от [slug](#sale-payment_method-slugs)) |\n|  loyalty_card | object(optional) | Связанная сущность (зависит от [slug](#sale-payment_method-slugs)) |\n|  loyalty_program | object(optional) | Связанная сущность (зависит от [slug](#sale-payment_method-slugs)) |\n|  loyalty_certificate | object(optional) | Связанная сущность (зависит от [slug](#sale-payment_method-slugs)) |\n|  loyalty_abonement | object(optional) | Связанная сущность (зависит от [slug](#sale-payment_method-slugs)) |\n\n<a name=\"sale-payment_method-slugs\"></a>\nВсе типы методов оплаты делятся на две группы:\n\n1 - Оплата в кассу:\n\n| Значение  | Описание |\n| ------------- | ------------- |\n|  account  | Оплата в кассу |\n\n2 - Оплата лояльностью:\n\n| Значение  | Описание |\n| ------------- | ------------- |\n|  deposit  | Списание с личного счета |\n|  loyalty_program  | Использование программы лояльности |\n|  loyalty_card  | Списание с карты лояльности |\n|  loyalty_certificate  | Списание с сертификата |\n|  loyalty_abonement  | Использование абонемента (применяется только к [визиту](#visits)) |\n|  referral_loyalty_program  | Использование реферальной программы (применяется только к [визиту](#visits)) |\n\n<a name=\"sale-sale_item-type\"></a>\nТип **sale_item** имеет следующие поля:\n\n| Поле             | Тип             | Описание                 |\n| -----------------| --------------- | ------------------------ |\n|  id           | integer | ID продаваемой единицы      |\n|  type           | string | Тип (\"**service**\"/\"**good**\") |\n|  title           | string | Название  |\n|  amount           | integer | Количество |\n|  default_cost_per_unit | float | Цена за единицу по умолчанию |\n|  default_cost_total | float | Общая цена по умолчанию |\n|  cost_to_pay_total | float | Цена к оплате |\n|  client_discount_percent | float | Процент скидки |"
    },
    {
      "name": "Финансовые транзакции",
      "description": "Объект транзакции имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  | ID транзакции  |\n|  document_id | number | ID документа |\n|  expense  | expense  | Тип платежа  |\n|  date  | string  | Дата создания транзакции  |\n|  amount  | float  | Сумма транзакции  |\n|  comment  | string | Комментарий  |\n|  master  | master  | Сотрудник |\n|  supplier  | supplier  | Контрагент  |\n|  account  | account  |  Касса  |\n|  client  | client  | Клиент  |\n\nОбъекты expense, master, account, supplier имеют следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  | ID  |\n|  title  | string  | Описание  |\n\nОбъект client имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  | ID  |\n|  name  | string  | Имя  |\n|  phone  | string  | Номер телефона  |"
    },
    {
      "name": "Интеграция с сетевой телефонией",
      "description": ""
    },
    {
      "name": "Лояльность",
      "description": "Сгенерированный объект кода имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  code  | string  |  Сгенерированный код  |"
    },
    {
      "name": "Карты лояльности",
      "description": ""
    },
    {
      "name": "Сертификаты",
      "description": ""
    },
    {
      "name": "Абонементы",
      "description": "| Атрибут             | Тип     | Описание                                                                                |\n|---------------------|---------|-----------------------------------------------------------------------------------------|\n| is_frozen           | boolean | Указывает заморожен ли абонемент                                                        |\n| freeze_period       | int     | Период, который абонемент был заморожен                                                 |\n| period              | int     | Значение срока действия абонемента                                                      |\n| period_unit_id      | int     | Идентификатор единиц измерения срока действия. 1 - день, 2 - неделя, 3 - месяц, 4 - год |\n| expiration_date     | datetime| Дата сгорания абонемента                                                                |\n| status              | int     | Текущий статус абонемента                                                               |\n| balance_container   | object  | Объект включающий в себя массив links с информацией о балансе абонемента                |\n| type                | object  | Объект с информацией о типе абонемента                                                  |\n| allow_freeze        | boolean | Допускается ли заморозка (для объекта type)                                             |\n| is_allow_empty_code | boolean | Допускается ли продажа без кода (для объекта type)                                      |"
    },
    {
      "name": "Применение лояльности в визите",
      "description": "| Атрибут              | Тип     | Описание                                                           |\n|----------------------|---------|--------------------------------------------------------------------|\n| loyalty_transactions | array   | Массив с информацией о примененных транзакциях лояльности в визите |\n| is_discount          | boolean | Является ли транзакцией скидки                                     |\n| is_loyalty_withdraw  | boolean | Является ли транзакцией списания баллов                            |\n| items                | array   | Массив с информацией о товарах и услугах записи                    |\n| payment_transactions | array   | Массив с информацией о финансовых транзакциях записи               |\n| kkm_transactions     | object  | Объект с информацией о ККМ транзакциях записи                      |"
    },
    {
      "name": "Справочники",
      "description": "## Получение списка бизнес-типов сгруппированных по группам\r\n\r\nОбъект бизнес-группы имеет следующие поля:\r\n\r\n| Поле  | Тип | Описание |\r\n| ------------- | ------------- | ------------- |\r\n|  id  | number  | ID категории  |\r\n|  title  | string  | Название категории  |\r\n|  image  | string | Изображение группы  |\r\n|  types  | array | Связанные бизнес-типы  |\r\n\r\nОбъект бизнес-типа имеет следующие поля:\r\n\r\n| Поле  | Тип | Описание |\r\n| ------------- | ------------- | ------------- |\r\n|  id  | number  | ID типа  |\r\n|  title  | string  | Название типа  |\r\n|  business_group_id  | number  | ID бизнес-группы  |"
    },
    {
      "name": "Категории",
      "description": "Объект категории имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  | ID категории  |\n|  salon_id  | number  | ID компании  |\n|  title  | string  | Название категории  |\n|  color  | string  | Цвет метки в формате #RRGGBB  |\n|  icon  | string | Название иконки  |\n|  entity  | number  | Объект категории (1 - категория для клиентов, 2 - категория для записей)|\n|  deleted  | number  | Метка удаления  |\n|  not_editable  | number  |  Разрешены ли изменения категории (1 - разрешены, 0 - не разрешены) |"
    },
    {
      "name": "Товары",
      "description": "## Описание API объектов сущности «Товар»\n\nОбъект товара имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  title  | string  | Наименование товара  |\n|  value  | string  | Наименование товара  |\n|  print_title  | string  | Наименование товара для печати в чеке  |\n|  label  | string  | Наименование товара с артикулом (если имеется)  |\n|  good_id  | number  | Идентификатор товара  |\n|  cost  | float  | Цена продажи  |\n|  sale_unit_id  | int  | ID единицы измерения для продажи  |\n|  unit_short_title  | string | Единица измерения для продажи  |\n|  service_unit_id  | int  | ID единицы измерения для списания  |\n|  service_unit_short_title  | string | Единица измерения для списания  |\n|  actual_cost  | float  | Себестоимость |\n|  unit_actual_cost  | float  | Себестоимость единицы  |\n|  unit_actual_cost_format  | string  | Формат себестоимости единицы  |\n|  unit_equals  | float  |  Отношение единицы измерения для продажик еденице за списание  |\n|  barcode  | string  | Штрих-код  |\n|  critical_amount  | float  | Критчный остаток  |\n|  desired_amount  | float  | Желаемый остаток  |\n|  netto  | float  | Масса нетто  |\n|  brutto  | float  | Масса брутто  |\n|  tax_variant  | int  | СНО  |\n|  vat_id  | int  | НДС  |\n|  loyalty_abonement_type_id  | int  | Идентификатор тип абонемента (если товар является абонементом)  |\n|  loyalty_certificate_type_id  | int  | Идентификатор тип сертификата (если товар является сертификатом)  |\n|  loyalty_allow_empty_code  | boolean  | Разрешена ли продажа без кода  |\n|  actual_amounts  | array  | Остатки на складах  |\n|  is_barcode  | number  | Товар по штрих-коду  |\n|  last_change_date  | string  | Дата последнего изменения сущности  |\n|  comment  | string  | Комментарий  |\n\nОбъект из actual_amounts имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  storage_id  | number  | ID склада  |\n|  amount  | number  | Количество  |\n\nОбъекты из массива correction_rules имеют следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  type  | int  | Тип операции (1 - Продажа товара, 2 - Списание расходников, 3 - Приход товара, 4 - Списание товара, 5 - Перемещение товара)  |\n|  base_unit  | string  | Основная единица измерения при корректировке (\"sale\" - Для продажи, \"service\" - Для списания)  |\n\nЕдиницы измерения:\n\n|ID    |Название     |ID    |Название    |ID    |Название    |\n|------|-------------|------|------------|------|------------|\n|216760|Штука        |216761|Миллилитр   |216762|Сертификат  |\n|216763|Грамм        |216764|Упаковка    |216765|Миллиграмм  |\n|216766|Сантиметр    |216767|Микролитр   |216768|Пара        |\n|216769|Метр         |216770|Рулон       |216771|Литр        |\n|216772|Флакон       |216773|Единица     |216774|Тюбик       |\n|216775|Минута       |216776|Килограмм   |216777|Ампула      |\n|216778|Банка        |216779|Другое      |216780|Коробка     |\n|216781|Набор        |216782|Миллиметры  |216783|Порция      |\n|216784|Линия        |216785|Бутылка     |216786|Шприц       |\n|216787|Процедура    |216788|Лента       |216789|Час         |\n|216790|Капсула      |216791|Доза        |216792|Рубль       |\n|216793|Километр     |216794|Гривна      |216795|Тенге       |\n|216796|Погонный метр|\n\nВиды систем налогообложения:\n\n| ID  | СНО                                    |\n|-----|----------------------------------------|\n|  0  | Общая ОСН                              |\n|  1  | Упрощенная УСН (Доход)                 |\n|  2  | Упрощенная УСН (Доход минус Расход)    |\n|  3  | Единый налог на вмененный доход ЕНВД   |\n|  4  | Единый сельскохозяйственный налог ЕСН  |\n|  5  | Патентная система налогообложения      |\n\nВиды НДС:\n\n| ID  | НДС           |\n|-----|---------------|\n|  1  | 0%            |\n|  2  | 10%           |\n|  3  | 20%           |\n|  4  | Не облагается |\n"
    },
    {
      "name": "Категории товаров",
      "description": "Объект категории товаров имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  | id категории  |\n|  title  | string  | Название категории  |\n|  parent_category_id | string | ID родительской категории"
    },
    {
      "name": "Технологические карты и расходники",
      "description": "Объект технологической карты имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  | id тех карты  |\n|  title  | string  | Название тех карты  |\n|  technological_card_items  | array  | Список расходников тех карты |"
    },
    {
      "name": "Товарные транзакции",
      "description": "Объект товарной транзакции имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id | number  |  ID транзакции  |\n|  document_id | number  |  ID документа |\n|  type_id  | number  | ID типа транзакции  |\n|  type  | string  | Тип транзакции  |\n|  good  | good  | Товар  |\n|  storage  | storage  | Склад  |\n|  unit  | unit  | Единица измерения  |\n|  operation_unit_type  | number  | Тип единицы измерения: 1 - для продажи, 2 - для списания  |\n|  create_date  | string | Дата создания  |\n|  last_change_date  | string | Дата последнего изменения  |\n|  cost_per_unit  | float  | Цена за единицу  |\n|  cost  | float | Цена  |\n|  discount  | float  | Скидка |\n|  master  | master  | Сотрудник  |\n|  supplier  | supplier  | Поставщик  |\n|  service  | service  |  Услуга  |\n|  client  | client  | Клиент  |\n\nОбъект good имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  | ID товара  |\n|  title  | string  | Наименование  |\n|  unit  | string  | Единица измерения  |\n|  value  | string  | Название товара  |\n|  label  | string  | Название товара  |\n|  article  | string  | Артикул  |\n|  category  | string  | Название категории товара  |\n|  category_id  | number  | Идентификатор категории товара  |\n|  salon_id  | number  | Идентификатор компании  |\n|  good_id  | number  | Идентификатор товара  |\n|  cost  | float  | Стоимость  |\n|  unit_id  | number  | Идентификатор единицы измерения  |\n|  unit_short_title  | string  | Сокращенное название единицы измерения  |\n|  service_unit_id  | number  | Идентификатор единицы измерения для услуги  |\n|  service_unit_short_title  | string  | Сокращенное название единицы измерения для услуги  |\n|  actual_cost  | float  | Себестоимость  |\n|  unit_actual_cost  | float  | Себестоимость за единицу  |\n|  unit_actual_cost_format  | string  | Формат себестоимости за единицу  |\n|  unit_equals  | number  | Значение единицы измерения  |\n|  barcode  | string  | Штрих-код  |\n|  loyalty_abonement_type_id  | number  | Идентификатор абонемента (если товар это абонемент)  |\n|  loyalty_certificate_type_id  | number  | Идентификатор сертификата (если товар это сертификат) |\n|  good_special_number  | string  | Код абонемента\\сертификата |\n|  loyalty_allow_empty_code  | number  | Разрешена ли продажа без кода  |\n|  actual_amounts  | array  | Количество товара  |\n|  last_change_date  | string  | Дата последнего изменения товара |\n\n\nОбъект storage имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  | ID  склада  |\n|  title  | string  | Наименование  |\n\nОбъект unit имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  | ID  склада  |\n|  title  | string  | Единица измерения  |\n\nОбъект master имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  | ID сотрудника  |\n|  title  | string  | Имя сотрудника  |\n\nОбъект supplier имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  | ID поставщика  |\n|  title  | string  | Имя поставщика  |\n\nОбъект service имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  | ID услуги  |\n|  title  | string  | Название услуги  |\n\nОбъект client имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  | ID клиента  |\n|  name  | string  | Имя клиента  |\n|  phone  | string  | Телефон клиента  |"
    },
    {
      "name": "Складские операции",
      "description": ""
    },
    {
      "name": "Документы складских операций",
      "description": "Документ операции является обьединяющей сущностью для товарных и финансовых транзакций"
    },
    {
      "name": "Личные счета",
      "description": ""
    },
    {
      "name": "Страны",
      "description": "<a name=\"countries\"></a>\n\nОбъект страны имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  |  ID страны  |\n|  title  | string  | Краткое название страны  |\n|  full_title  | string  | Полное название страны  |\n|  phone_code  | number  | Телефонный код  |\n|  phone_template  | string  | Шаблон номера телефона страны  |\n|  phone_example  | string  | Пример номера телефона страны  |\n|  currency  | string | Валюта |\n|  exchange  | float  | Ставка обмена валют по отношению к рублю  |"
    },
    {
      "name": "Города",
      "description": "Объект города имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  |  ID города  |\n|  title  | string  | Краткое название города  |\n|  country_id  | number  | ID страны  |\n\n<a name=\"cities\"></a>"
    },
    {
      "name": "Изображения",
      "description": ""
    },
    {
      "name": "Сети салонов",
      "description": ""
    },
    {
      "name": "Аналитика",
      "description": "Сводные и статистические данные"
    },
    {
      "name": "Z-Отчет",
      "description": "Объект Z-Отчета имеет следующие поля:\n\n|  Поле  |  Тип  |  Описание  |\n| ------------- | ------------- | ------------- |\n|  stats  |  stats  |  Общая статистика  |\n|  paids  |  paids  |  Оплаты  |\n|  z_data  |  z_data  |  Данные отчета  |\n|  currency  |  string  |  Валюта  |\n\nОбъект stats имеет следующие поля:\n\n|  Поле  |  Тип  |  Описание  |\n| ------------- | ------------- | ------------- |\n|  clients  |  integer  |  Количество клиентов  |\n|  clients_average  |  float  |  Среддняя оплата по клиентам  |\n|  records  |  integer  | Количество записей  |\n|  records_average  |  float  |  Среддняя оплата по записям  |\n|  visit_records  |  integer  |  Количество записей с клиентами  |\n|  visit_records_average  |  float  |  Среддняя оплата по записям с клиентами  |\n|  non_visit_records  |  integer  |  Количество записей без клиентов  |\n|  non_visit_records_average  |  float  |  Среддняя оплата по записям без клиентов  |\n|  targets  |  integer  |  Количество услуг  |\n|  targets_paid  |  float  |  Оплата по услугам  |\n|  goods  |  integer  |  Количество товаров  |\n|  goods_paid  |  float  |  Оплата по товарам  |\n|  certificates  |  integer  |  Количество сертификатов  |\n|  certificates_paid  |  float  |  Оплата по сертификатам  |\n|  abonement  |  integer  |  Количество абонементов  |\n|  abonement_paid  |  float  |  Оплата по абонементам  |\n\nОбъект paids имеет следующие поля:\n\n|  Поле  |  Тип  |  Описание  |\n| ------------- | ------------- | ------------- |\n|  accounts  |  array of paid  | Оплаты в кассы  |\n|  discount  |  array of paid  | Оплата по скидке и лояльности  |\n|  total  |  total_paid  |  Итог  |\n\nОбъект paid имеет следующие поля:\n\n|  Поле  |  Тип  |  Описание  |\n| ------------- | ------------- | ------------- |\n|  title  |  string  |  Название кассы или тип скидки/лояльности  |\n|  amount  |  float  |  Сумма оплаты  |\n\nОбъект total_paid имеет следующие поля:\n\n|  Поле  |  Тип  |  Описание  |\n| ------------- | ------------- | ------------- |\n|  accounts  |  float  |  Общая сумма оплат в кассы  |\n|  discount  |  float  |  Общая сумма скидок/лояльности  |\n\nОбъект z_data состоит из пар ключ-значение, где:\n\n+ ключ - дата;\n\n+ значение - объект client;\n\nОбъект client имеет следующие поля:\n\n|  Поле  |  Тип  |  Описание  |\n| ------------- | ------------- | ------------- |\n|  client_id  |  integer  |  ID клиента (0, если клиент не из базы)  |\n|  client_name  |  string  |  Имя клиента  |\n|  client_phone  |  string  |  Номер телефона клиента  |\n|  client_email  |  string  |  Email клиента  |\n|  masters  |  array of master  |  Сотрудники  |\n\nОбъект master имеет следующие поля:\n\n|  Поле  |  Тип  |  Описание  |\n| ------------- | ------------- | ------------- |\n|  master_id  |  integer  |  ID сотрудника  |\n|  master_name  |  string  |  Имя сотрудника  |\n|  service  |  array of operation  |  Услуги  |\n|  good  |  array of operation  |  Товары  |\n|  others  |  operation  |  Другие операции  |\n\nОбъект operation имеет следующие поля:\n\n|  Поле  |  Тип  |  Описание  |\n| ------------- | ------------- | ------------- |\n|  item_title  |  string  |  Название услуги/товара  |\n|  first_cost  |  integer  |  Цена  |\n|  discount  |  integer  |  Скидка  |\n|  result_cost  |  integer  |  К оплате  |\n|  transactions  |  array of transaction  |  Оплаты  |\n\nОбъект transaction имеет следующие поля:\n\n|  Поле  |  Тип  |  Описание  |\n| ------------- | ------------- | ------------- |\n|  accounts_amount  |  integer  |  Оплачено в кассу  |\n|  loyalty_amount  |  integer  |  Оплачено по программе лояльности  |\n|  payment_type  |  string  |  Тип оплаты  |"
    },
    {
      "name": "Дополнительные поля",
      "description": "## Описание функционала и объекты API\n\n### Описание\n\nДополнительные поля позволяют добавлять к отдельным объектам системы свойства заданного типа и впоследствии привязывать к этим полям значения, соответствующие данному типу. На данный момент функционал реализован для Записей и Клиентов.\n\nОбъекты Дополнительных полей:\n\n|  Поле  |  Тип  |  Описание  |\n| ------------- | ------------- | ------------- |\n|  code  |  string  |  Код поля по которому устанавливаются значения для полей записи |\n|  id  |  integer  |  Уникальный идентификатор поля  |\n|  type  |  CustomFieldType  |  Тип поля |\n|  show_in_ui  |  boolean  |  Показывать ли поле в интерфейсе|\n|  title  |  string  | Название поля |\n|  user_can_edit  |  boolean  | Можно ли редактировать в интерфейсе  |\n|  values  |  array or null  | Список допустимых значений для типа \"список\" |\n\nНа данный момент поддерживаются следующие типы (поле code):\n\n* text - строка длиной до 255 символов\n\n* number - число\n\n* select - список\n\n* date - Дата (Y-m-d)\n\n* datetime - Дата и время (Y-m-d H:i:s)\n\nСледующие коды полей являются зарезервированными:\n\n|  code  |  type  |  Описание  |\n| ------------- | ------------- | ------------- |\n|  yc_partner_public_key  |  text  |  Используется для определения партнера при создании записи, является более приоритетным, чем Bearer-токен из авторизации |"
    },
    {
      "name": "Отправка СМС через операторов",
      "description": "## Описание функционала и объекты API\n\nДля отправки SMS, оператору необходимо предоставить адрес (url_operator), на который будут уходить запросы описанные ниже.\nАвторизация запросов к API производится в соответствии с [RFC 6749 \"Resource Owner Password Credentials Grant\"](https://tools.ietf.org/html/rfc6749#section-4.3).\nПри запросах к API в HTTP заголовок Authorization должен быть включен ключ доступа в следущем формате:\nКлюч авторизации (partner_token) должен быть указан в настройках модуля уведомлений компании.\n\n```\nAuthorization: Bearer <partner token>\n```"
    },
    {
      "name": "Лицензии",
      "description": "При наличии лицензии у компании\nобъект лицензии имеет следующие поля:\n\n| Поле  | Тип | Описание |\n| ------------- | ------------- | ------------- |\n|  id  | number  |  ID лицензии  |\n|  salon_id  | number  | ID компании  |\n|  staff_limit  | number  | Количество сотрудников (0 - не ограничено)  |\n|  deactivation_date  | string  | Дата деактивации  |\n|  start_date  | string  | Дата начала лицензии  |\n|  name  | string  | Название тарифа лицензии  |\n|  active  | boolean | Активность |\n|  options  | array | Массив подключенных опций |"
    },
    {
      "name": "Правила обработки персональных данных",
      "description": "В соответствии с Федеральным законом №152-ФЗ «О персональных данных» от 27.07.2006 г. компании могут заполнить\nтекст согласия на обработку персональных данных. Текст согласия отображается перед непосредственным подтверждением записи."
    },
    {
      "name": "Валидация данных",
      "description": ""
    },
    {
      "name": "Фискализация чеков",
      "description": "Система YCLIENTS позволяет партнерам реализовывать API фискализации чеков. В систему добавляется партнер, реализовавший этот API.\nПосле этого у тех пользователей YCLIENTS, которые находятся в той же стране, что и партнер, появляется возможность выбрать\nэтого партнера в списке возможных решений для фискализации чеков.\nДля того, чтобы партнер был добавлен в список возможных решений, он должен связаться с YCLIENTS посредством email: **partner@yclients.tech**.\n\nYCLIENTS создает [документ продажи](#fiscalization-sale-document), и отправляет его на сервер фискализации по адресу, указанному партнером.\nОтвечая на HTTP-запрос, сервер фискализации должен вернуть HTTP-ответ со статусом **200** в том случае, если документ успешно получен\nи передан в обработку, либо со статусом **400** в случае ошибки.\nТело ответа должно содержать данные [определенного формата](#fiscalization-response),\nописывающие текущий [статус документа](#fiscalization-response-status).\nПри обновлении статуса сервер фискализации должен отправить [callback запрос](#fiscalization-callback) с данными того же [формата](#fiscalization-response).\n\n**Документ продажи** имеет следующую структуру:\n\n+ Структура документа (json):\n\n        {\n            \"id\": \"d72fece5-6825-4895-9395-0133195612a4\",\n            \"date\": \"2020-07-31T14:11:36+04:00\",\n            \"document_id\": 239083104,\n            \"type\": \"sale\",\n            \"print_receipt\": true,\n            \"customer\": {\n                \"email\": \"customer@example.com\",\n                \"phone\": \"91111111111\"\n            },\n            \"positions\": [\n                {\n                    \"type\": \"service\",\n                    \"title\": \"Consultation\",\n                    \"price\": 10.5,\n                    \"quantity\": 1.0,\n                    \"discount_amount\": 2.5,\n                    \"vat\": \"ru_vat_10\",\n                    \"payment_method\": \"payment\",\n                    \"barcode\": \"12345\"\n                }\n            ],\n            \"payments\": [\n                {\n                    \"type\": \"card\",\n                    \"sum\": 5.5\n                },\n                {\n                    \"type\": \"cash\",\n                    \"sum\": 4.5\n                },\n                {\n                    \"type\": \"prepaid\",\n                    \"sum\": 0.5\n                }\n            ],\n            \"tax\": \"ru_osn\",\n            \"cashier\": {\n                \"uid\": \"4895-9395-0133195612a4\",\n                \"name\": \"John Smith\",\n                \"position\": \"Cashier\"\n            },\n            \"pos\": {\n                \"enabled\": true,\n                \"slip_count\": 2\n            },\n            \"callback_url\": \"https://yclients.com/api/v1/integration/kkm/callback/\",\n            \"custom_text\": \"some custom text\"\n        }\n\n**Описание полей структуры документа:**\n\n| Поле             | Тип              | Описание                 |\n| -----------------| ---------------- | ------------------------ |\n|  id              | integer          | Уникальный
[...]
